{% macro productCardContainer(products) %}
	<div class="productCardContainer">
		{% for product in products %}
			{{ _self.productCard(product.title, product.photo, product.user_pseudo) }}
		{% endfor %}
	</div>
{% endmacro %}

{% macro productCard(title, photo, userName) %}
	<div class="productCard">
		<div class="image" style="background-image: url({{photo}});"></div>
		<div class="content">
			<h2>{{ title }}</h2>
			<p>
				Vendu par
				{{ userName }}
			</p>
		</div>
	</div>
{% endmacro %}
