<div class="loginPrompt">
	<h2>Connexion</h2>

	<form action="/login" method="POST">
		<div>
            <input type="text" id="pseudo" name="pseudo" placeholder="Nom d'utilisateur" required/>
        </div>
		<div>
			<button type="submit">Connexion</button>
		</div>
	</form>
	<a href="/register">Je n'ai pas de compte.</a>
</div>
