{% extends 'layout.html.twig' %}
{% block content %}
	<main class="container footerMembers">
    <h1>Qui sommes nous ?</h1>
		<ul class="wilders">
			<li class="wilder">
				<article>
					<div class="photoInfo">
						<img class="wilderPhoto" src="../assets/images/marc.jpg" alt="">
                        <h2>Marc-Antoine</h2>
					</div>
					<a href="https://www.linkedin.com/in/marc-antoine-germe-5ab104224" target="_blank">
						<i class="fa-brands fa-linkedin iconlink"></i>
					</a>
					<a href="https://github.com/Markus0059">
						<i class="fa-brands fa-github iconlink"></i>
					</a>

				</article>
			</li>
			<li class="wilder">
				<article>
					<div class="photoInfo">
						<img class="wilderPhoto" src="../assets/images/guillaume.png" alt="">
                        <h2>Guillaume</h2>
					</div>
					<a href="https://www.linkedin.com/in/11gg/" target="_blank">
						<i class="fa-brands fa-linkedin iconlink"></i>
					</a>
					<a href="https://github.com/Guillaum6e">
						<i class="fa-brands fa-github iconlink"></i>
					</a>
				</article>
			</li>
			<li class="wilder">
				<article>
					<div class="photoInfo">
						<img class="wilderPhoto" src="" alt="">
                        <h2>Nicolas</h2>
					</div>
					<a href="" target="_blank">
						<i class="fa-brands fa-linkedin iconlink"></i>
					</a>
					<a href="">
						<i class="fa-brands fa-github iconlink"></i>
					</a>
				</article>
			</li>
			<li class="wilder">
				<article>
					<div class="photoInfo">
						<img class="wilderPhoto" src="" alt="">
                        <h2>Tyler</h2>
					</div>
					<a href="" target="_blank">
						<i class="fa-brands fa-linkedin iconlink"></i>
					</a>
					<a href="">
						<i class="fa-brands fa-github iconlink"></i>
					</a>
				</article>
			</li>
			<li class="wilder">
				<article>
					<div class="photoInfo">
						<img class="wilderPhoto" src="" alt="">
                        <h2>Omar</h2>
					</div>
					<a href="" target="_blank">
						<i class="fa-brands fa-linkedin iconlink"></i>
					</a>
					<a href="">
						<i class="fa-brands fa-github iconlink"></i>
					</a>
				</article>
			</li>
		</ul>
	</main>
{% endblock %}
