<footer class="footer-bar">
	<ul class='footerAll'>
		<li class='linkFooter'>
			<a href="/about">A Propos</a>
		</li>
		<li class='linkFooter'>
			<a href="/CGV">CGV</a>
		</li>
	</ul>
	<p class="design">Design by Wildsupplies.co</p>

</footer>
