<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" href="/assets/images/favicon.png">

		<title>
			{% block title %}{% endblock %}
		</title>

		<link rel="stylesheet" href="/assets/css/style.css">
		<link rel="stylesheet" href="/assets/css/nav.css"> {% block stylesheet %}{% endblock %}
		</head>

		<body>
			{% include "nav.html.twig" %}
			{% block content %}{% endblock %}
			{% block javascript %}{% endblock %}
			<script src="../assets/javascript/nav.js"></script>
		</body>
	</html>
