<header class='top-bar'>
	<div class="main">
		<a href="/" {# Enter link here #}>
			<img src="../assets/images/logook.png" class="logo" alt="logo"></a>
	</div>
	<div class="search-box" id="search">
		<img src="../assets/images/magglass.png">
		<input type="text" class="input-search" placeholder="Type to Search...">
		<button class="submit-search">Go!</button>
	</div>
	<ul class="menu" id="icons" onclick="searchHide();">
		<li>
			<a href="" {# Enter link here #}><img src="../assets/images/Vector.png"></a>
		</li>
		<li>
			<a href="" {# Enter link here #}><img src="../assets/images/carnet.png"></a>
		</li>
		<li>
			<a href="" {# Enter link here #}><img src="../assets/images/panier.png"></a>
		</li>
		<li>
			<a href="signup.html.twig" {# Enter link here #}><img src="../assets/images/compte.png"></a>
		</li>
	</ul>
	<!-- Burger Button -->
	<ul class="burger-button">
		<li>
			<button class="hamburger">
				<div class="bar"></div>
			</button>
		</li>
	</ul>
</header>
<nav>
	<!-- Quick access categories -->
	<ul class="quick-access">
		{% for index, category in carouselCategories %}
			<li>
				<a href="/products?category={{ category.id }}">
					<img src="{{ category.logo }}"/>
					<p>{{ category.title }}</p>
				</a>
			</li>
			{% if index < (carouselCategories|length) - 1 %}
				<li class="line"></li>
			{% endif %}
		{% endfor %}
	</ul>
	<ul class="mobile-nav">
		<li>
			<a href="" {# Enter link here #}><img src="../assets/images/Vector.png"></a>
		</li>
		<li>
			<a href="" {# Enter link here #}><img src="../assets/images/carnet.png"></a>
		</li>
		<li>
			<a href="" {# Enter link here #}><img src="../assets/images/panier.png"></a>
		</li>
		<li>
			<a href="" {# Enter link here #}><img src="../assets/images/compte.png"></a>
		</li>
	</ul>
</nav>
