<nav role='navigation'>
	<div class="main">
		<a href="" {# Enter link here #}>
			<img src="../assets/images/logook.png" class="logo" alt="logo"></a>
		<div class="search-box" id="search">
			<img src="../assets/images/magglass.png">
			<input type="text" class="input-search" placeholder="Type to Search...">
			<button class="submit-search">Submit</button>
		</div>
		<div class="menu" id="icons" onclick="searchHide();">
			<a href="" {# Enter link here #}><img src="../assets/images/Vector.png"></a>
			<a href="" {# Enter link here #}><img src="../assets/images/carnet.png"></a>
			<a href="" {# Enter link here #}><img src="../assets/images/panier.png"></a>
			<a href="" {# Enter link here #}><img src="../assets/images/compte.png"></a>
		</div>
		<!-- Burger Button -->
		<button class="hamburger">
			<div class="bar"></div>
		</button>
	</div>
</nav>
<!-- Quick access categories -->
<div class="quick-access">
	<ul>
		<li>
			<a href="" {# Enter link here #}><img src="../assets/images/drawer.png"><p>Meubles</p>
			</a>
		</li>
		<div class="line"></div>
		<li>
			<a href="" {# Enter link here #}><img src="../assets/images/lights.png"><p>Luminaires</p>
			</a>
		</li>
		<div class="line"></div>
		<li>
			<a href="" {# Enter link here #}><img src="../assets/images/decorations.png"><p>Décorations</p>
			</a>
		</li>
		<div class="line"></div>
		<li>
			<a href="" {# Enter link here #}><img src="../assets/images/appliances.png"><p>Électroménager</p>
			</a>
		</li>
	</ul>
</div>
<!-- Mobile nav menu box -->
<nav class="mobile-nav">
	<a href="" {# Enter link here #}><img src="../assets/images/Vector.png"></a>
	<a href="" {# Enter link here #}><img src="../assets/images/carnet.png"></a>
	<a href="" {# Enter link here #}><img src="../assets/images/panier.png"></a>
	<a href="" {# Enter link here #}><img src="../assets/images/compte.png"></a>
</nav>
