{% extends "layout.html.twig" %}
{% from "_macros/productCard.html.twig" import productCardContainer %}

{% block content %}
	<h1>Page produit</h1>
	{{ productCardContainer(products) }}
{% endblock %}
