{% extends "layout.html.twig" %}
{% from "_macros/productCard.html.twig" import productCardContainer %}
{% from "_macros/pageSwitcher.html.twig" import pageSwitcher %}

{% block title %}
    Page produits - {{ parent() }}
{% endblock %}

{% block content %}
	<h1>Page produits</h1>
	{{ productCardContainer(products) }}
	{{ pageSwitcher("/products?page=%page%", currentPage, pagesCount) }}
{% endblock %}
