{% extends "layout.html.twig" %}
{% import "_macros/productCard.html.twig" as productCardMacros %}

{% block content %}
	<h1>Page produit</h1>

	{{ productCardMacros.productCardContainer(products) }}
{% endblock %}
