{% extends 'layout.html.twig' %}

{% block stylesheet %}<link rel="stylesheet" href="../assets/css/show.css">{% endblock %}

{% block content %}

<section id="productPage">
        <article class="productCarousel">
            <ul class="productImages" id="productImgs">
                {% for photo in product.photo %}
                    <li class="photo" style="background-image:url({{photo}});"></li>
                {% endfor %}
            </ul>
                <button id="right" class="productBtn">></button>
                <button id="left" class="productBtn"><</button>
        </article>

        <article class="productInfo">
                <h1>Nom du produit</h1>
                <ul>
                    <li class="productColorMatter"><span class="ImportanText">Couleur:</span> <p class="pastilleColor"></p><span>Matière:</span> Bois </br><img src="assets/images/deco2.png" alt=""></li>
                    <li class="productState"><span class="ImportanText">État:</span> quasi neuf</li>
                    <li class="productDescription">   blablablablabla blablabla blablablabla blablabla blablabla blabla blablablabla blablabla blablablabla blabla blaElleEstBelleLaChaisebla blabla blabla blabla blablablabla blablabla</li>
                    <li class="productPrice"><span class="ImportanText">Prix:</span> 8000€</li>
                </ul>
        </article>

        <article class="productInfo2">
            <ul>
                <li class="productType"><span class="ImportanText">Type: </span>meuble</br> <img src="assets/images/ameublement2.png" alt=""></li>
                <li class="productRoom"><span class="ImportanText">Piece:</span> Salle à manger</br> <img src="assets/images/deco2.png" alt=""></li>
            </ul>
        </article>

        <article class="productPricAaddButton">
                <button class="productAddButton">Ajouter au panier</button>
        </article>

        <article class="productSeller">
            <div class="productSellerName"><span class="ImportanText">Vendu par: </span>Michel</div>
            <div class="productSellerLocation"><span class="ImportanText">Habite:</span> FortFortLointain</div>
        </article>

        <article class="productMap">
                <img src="https://www.adslzone.net/app/uploads-adslzone.net/2017/06/google-maps.jpg" alt="map">
        </article>
    </section>

{% endblock %}

{% block javascript %}
    <script src="assets/js/show.js"></script>
{% endblock %}
