.cart h1 {
  font-size: 4vw;
}

.productsCart {
  display: flex;
  justify-content: space-around;
}

.deleteFromCart {
  color: black;
  text-decoration: none;
  margin-left: 1.5rem;
}

.deleteFromCart:hover {
  color: red;
}

.totalCart {
  text-align: right;
  margin-top: 16px;

}

.btn-primary-validate-cart {
  text-decoration: none;
  align-items: center;
  justify-content: center;
  padding: 8px 24px 8px 24px;
  color: black;
  text-align: center;
  background: 0 0;
  border: 0;
  font-weight: bold;
  letter-spacing: 1px;
  background-color: var(--yellowColor);
  border-radius: 8px;
}

.btn-primary-validate-cart:hover {
  background-color: white;
    color: var(--yellowColor);
    box-shadow: var(--yellowColor) 0 8px 10px;
}

.btn-cart {
  text-align: right;
  margin-top: 32px;
  margin-bottom: 8px;
}

@media screen and (max-width: 920px) {
  .productsCart {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 15px;
  }

  .products-cart .productCard {
    margin: auto;

  }
}

@media screen and (max-width: 768px) {
  .productsCart {
    display: grid;
    grid-template-columns: 2fr;
    gap: 15px;
  }

  .products-cart .productCard {
    margin: auto;
    width: 60%;
  }
}
