@media screen and (min-width: 900px) {
  .carousel-item h2 {
    font-size: 64px;
  }
  .carousel-item p {
    font-size: 32px;
    font-weight: bold;
    color: #fbfbfb;
  }
  .home h1{
    font-size: 64px;
    margin-top: 1.5rem;
  }
}
