@media screen and (min-width: 1400px) {
  .carousel-item h2 {
    font-size: 64px;
  }

  .carousel-item p {
    font-size: 32px;
    font-weight: bold;
    color: #fbfbfb;
  }

  .home h1 {
    font-size: 64px;
    margin-top: 1.5rem;
  }
}

@media screen and (max-width: 767px) {
  .home h1 {
    font-size: 20px
  }

  .carouselContainer a {
    font-size: 10px;
  }
}


.carouselContainer {
  position: relative;

}

ul {
  padding: 0;
}

.img-home {
  max-height: 799px;
  width: 100%;
}
