@media screen and (min-width: 1400px) {
  .carousel-item h2 {
    font-size: 64px;
  }

  .carousel-item p {
    font-size: 32px;
    font-weight: bold;
    color: #fbfbfb;
  }
}

@media screen and (max-width: 767px) {

  .carouselContainer a {
    font-size: 10px;
  }
}


.carouselContainer {
  position: relative;

}

ul {
  padding: 0;
}

.img-home {
  max-height: 43vw;
  width: 100%;
}

.home h1 {
  font-size: 4vw;
}
