.card-category {
  height: 281px;
  width: 100%;
  background: center/cover;
  color: #fff;
  position: relative;
  margin: auto;
}

.card-category:hover {
  box-shadow: black 4px 4px 4px;
}

.text-card {
  position: absolute;
  bottom: 8%;
  width: 100%;
}

.text-card>* {
  text-align: center;
}

.cardsCarousel {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  gap: 15px;
}

/* formulaire check */

.checkbox-category:checked+.label-category {
  filter: grayscale(100%);
}

.checkbox-category {
  display: none;
}
