/* Global */

* {
    box-sizing: border-box;
    margin: 0 auto;

}

img {
    height: 30px;
    width: 30px;
}


/* Main bar */

.menu {
    position: absolute;
    right: 0;
    justify-content: end;
    padding: 5px;
    margin-top: 5px;
}

.menu img {
    margin: 0 10px;
}

.main {
    background-color: #4981A6;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 10px;
}

.logo {
    margin: 5px 2px 5px 12px;
    height: 40px;
    width: 40px;
}

/* Quick access bar */

.quick-access {
    background-color: #F1F1F1;
    position: relative;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    padding: 10px;
}

/* .quick-access img {
    height: 42.86%;
    width: 42.86%;
} ???*/

p {
    margin-left: 10px;
    box-sizing: border-box;
}

ul li {
    list-style: none;
    text-decoration: none;
    margin-bottom: 10px;
    margin-top: 10px;

}

ul li a {
    color: black;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

}

a:hover {
    color: #4981A6;
    transition: 1s;
}


ul {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    margin: auto;

}

li {
    border-right: 2px solid #000;
    border-right-style: 50px;
    padding-right: 5%;
    padding-left: 5%;
    box-sizing: border-box;

}

li:last-child {
    border: none;

}

/* Search bar */

.search-box {
    display: flex;
    margin-top: 5px;
    visibility: visible;
}


.search-box input {
    box-sizing: border-box;
    position: relative;
    outline: none;
    border: none;
    color: #fff;
    background-color: #4981A6;
    border-bottom: black solid 1px;
    height: 30px;
}

.search-box input::placeholder {
    color: #fff;
}


.search-box img {
    background-color: #4981A6;
    height: 20px;
    width: 20px;
    margin-top: 8px;
    margin-right: 5px;
}

.submit {
    margin: auto;
    background-color: white;
    border-radius: 5px;
    margin-left: 5px;
}

/* Burger button 

.container {
    display: inline-block;
    cursor: pointer;
    margin-right: 10px;
    background-color: #4981A6;
    border: none;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);

}

*/

/* Burger Second try */

.hamburger {
    position: relative;
    display: block;
    width: 45px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    margin-right: 0;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: #fff;
    margin: 6px 0px;
    transition: 0.4s;
}

.hamburger.is-active:before {
    transform: translate(0px, 11px) rotate(-45deg);

}

.hamburger.is-active:after {
    transform: translate(0px, -11px) rotate(45deg);
}

.hamburger.is-active .bar {
    opacity: 0;
}

.mobile-nav {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    top: 0;
    right: 100%;
    width: 40%;
    position: fixed;
    z-index: 98;
    background-color: #4981A6;
    margin-top: 150px;
    transition: 0.4s;
    border: solid 1px white;
    border-radius: 15px;
}

.mobile-nav.is-active {
    right: 33%;
}

.mobile-nav a {
    display: block;
    margin: 12px auto 12px auto;
    text-align: center;
    padding: 12px 16px;
    width: fit-content;
    border: solid 1px white;
    border-radius: 20px;
}

/* Smartphone */

@media screen and (max-width:767.98px) {
    .menu {
        /* display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh; */

        visibility: hidden;
    }
}

/* Desktop */

@media screen and (min-width:767.98px) {
    button.hamburger {
        /* display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        position: absolute; */
        visibility: hidden;
    }
}