/*////// Main bar //////*/

header {
  height: 69px;
}

.header2 {
  height: 60px;
}

main {
  min-height: calc( 100vh - 69px - 60px - 65px);
}

.top-bar {
  background-color: var(--blueColor);
  display: flex;
  justify-content: space-between;
}

.menu a {
  display: block;
  margin: 0 0.3rem;
  width: 32px;
  height: 32px;
}

.menu a:hover {
  cursor: pointer;
}

.menu .loginButton img {
  border-radius: 50%;
}

.main {
  background-color: #4981a6;
  display: flex;
  list-style: none;
}

ul#icons.menu {
  justify-content: flex-end;
  align-items: center;
  display: flex;
  list-style: none;
  position: absolute;
  right: 0;
  margin: 10px;
  margin-top: 20px;
}

#icons img {
  height: 30px;
  width: 30px;
}

.logo {
  height: 40px;
  width: 40px;
  margin: 15px;
}

.cartNbr {
  width: 0.9rem;
  height: 0.9rem;
  text-decoration: none;
  color: black;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  bottom: -10%;
  right: 29%;
  font-size: 0.7rem;
  font-weight: bold;
  text-align: center;
}

.cartNbrMobile {
  text-decoration: none;
  color: black;
  border-radius: 50%;
  position: absolute;
  bottom: -10%;
  right: 40%;
  font-size: 0.7rem;
  font-weight: bold;
  text-align: center;

}

/*////// Quick access bar //////*/

.quick-access {
  background-color: var(--secondaryColor);
  position: relative;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
  padding: 10px;
  list-style: none;
}

.line {
  position: relative;
  display: block;
  height: 45px;
  background-color: black;
  width: 1px;
}

.quick-access p {
  margin-left: 10px;
  box-sizing: border-box;
}

.quick-access a {
  text-decoration: none;
  display: flex;
  color: var(--plainText);
}

.quick-access img {
  height: 30px;
  width: 30px;
}

.quick-access li {
  margin: auto;
  display: flex;
}

.quick-access ul li a {
  color: var(--plainText);
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.quick-access a:hover {
  color: var(--blueColor);
  transition: 1s;
}

ul.quick-access {
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  margin: auto;
  padding-left: 0;
}

li.quick-access {
  box-sizing: border-box;
}

.quick-access li:last-child {
  border: none;
}

/*////// Search bar //////*/

.search-box {
  display: flex;
  margin-top: 15px;
  visibility: visible;
  right: 5%;
  align-items: baseline;
}

div#search.search-box {
  display: flex;
}

.search-box input {
  box-sizing: border-box;
  position: relative;
  outline: none;
  border: none;
  color: var(--buttonsAndBorders);
  background-color: var(--blueColor);
  border-bottom: black solid 1px;
  height: 30px;
  width: 100%;
}

.search-box input::placeholder {
  color: var(--buttonsAndBorders);
}

.search-box img {
  background-color: var(--blueColor);
  height: 20px;
  width: 20px;
  margin-top: 8px;
  margin-right: 5px;
  margin-left: 5px;
}

.search-box button {
  margin-left: 1rem;
}

.submit-search {
  margin: auto;
  background-color: var(--blueColor);
  border-radius: 5px;
  margin-left: 5px;
  width: auto;
  padding: 2px;
  border-color: var(--secondaryColor);
  margin-top: 7px;
}

/*////// Burger Button and actions //////*/

.hamburger {
  position: relative;
  display: block;
  width: 35px;
  cursor: pointer;
  appearance: none;
  background: none;
  outline: none;
  border: none;
  margin-right: 5px;
  margin-left: 5px;
  margin: 10px;
  margin-top: 18px;
}

.burger-button li {
  list-style: none;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: var(--buttonsAndBorders);
  margin: 6px 0px;
  transition: 0.4s;
}

.hamburger.is-active:before {
  transform: translate(0px, 11px) rotate(-45deg);
}

.hamburger.is-active:after {
  transform: translate(0px, -11px) rotate(45deg);
}

.hamburger.is-active .bar {
  opacity: 0;
}

.mobile-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 130px;
  right: 100%;
  width: 250px;
  position: absolute;
  z-index: 98;
  background-color: var(--blueColor);
  margin-top: 10px;
  transition: 0.4s;
  border: solid 1px var(--buttonsAndBorders);
  border-radius: 15px;
}

.mobile-nav div {
  width: 3rem;
  height: 3rem;
}

.mobile-nav ul {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  list-style: none;
  margin: 0;
}

.mobile-nav img {
  height: 30px;
  width: 30px;
}

.mobile-nav a:hover {
  cursor: pointer;
}

.mobile-nav .loginButton img {
  border-radius: 50%;
}

.mobile-nav.is-active {
  right: calc(50% - 124px);
}

.mobile-nav a {
  display: block;
  margin: 12px;
  text-align: center;
  padding: 12px 16px;
  width: fit-content;
  border: solid 1px var(--buttonsAndBorders);
  border-radius: 20px;
}


/*////// Desktop //////*/

@media screen and (min-width: 767.98px) {
  button.hamburger {
    visibility: hidden;
  }

  .mobile-nav {
    visibility: hidden;
  }
}



/*////// Smartphone //////*/

@media screen and (max-width: 767.98px) {
  .menu {
    visibility: hidden;
  }

  button.hamburger {
    visibility: visible;
  }

  .quick-access p {
    display: none;
  }

  .quick-access a {
    padding: 0;
    width: calc(100% / 7);
  }

  header {
    height: 10vh;
  }

  .header2 {
    height: 9vh;
  }
}
