/* Product Card Container */
.productCardContainer>.products {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: auto;
    max-width: 1110px;
    padding: 1rem;
}

@media screen and (max-width: 768px) {
    .productCardContainer>.products {
        padding: 0.25rem;
    }
}

/* Product Card */
.productCard {
    background-color: var(--productCardBackgroundColor);
    border-radius: 3px;
    box-shadow: var(--shadowColor) 0 5px 5px;
    display: flex;
    margin: 1rem;
    transition: box-shadow ease-out 250ms, transform ease-out 250ms;
    flex-flow: column nowrap;
    overflow: clip;
    width: 20rem;
    z-index: 1;
}

.productCard:hover {
    box-shadow: var(--blueColor) 0 8px 10px;
    cursor: pointer;
    transform: scale(1.025);
}

.productCard:active {
    box-shadow: var(--shadowColor) 0 2px 2px;
    transform: scale(0.975);
}

.productCard a {
    color: var(--textColor);
    text-decoration: none;
}

.productCard .image {
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 15rem;
    transition: background-size ease-out 250ms;
    width: 100%;
}

.productCard:hover .image {
    background-size: 110%;
}

.productCard .image::before {
    background-color: var(--lightGreyContrastColor);
    content: "";
    display: inline-block;
    height: 15rem;
    position: relative;
    width: 100%;
    z-index: -1;
}

.productCard .content {
    padding: 0.5rem;
}

.productCard .content>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.productCard .content>div>*:last-child {
    flex-shrink: 1;
}

.productCard .content>div:last-child {
    margin-bottom: 0;
}

.productCard .content .seller {
    margin-right: 1rem;
}

.productCard .content .seller>.label {
    font-size: 0.75rem;
    font-style: italic;
    text-align: center;
}

.productCard .content .seller>.user {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.productCard .content .seller>.user>.avatar {
    background-size: cover;
    border-radius: 100%;
    height: 32px;
    width: 32px;
}

.productCard .content .seller>.user>.avatar::before {
    background-color: var(--lightGreyContrastColor);
    border-radius: 100%;
    content: "";
    display: inline-block;
    height: 32px;
    position: relative;
    transform: scale(0.9);
    width: 32px;
    z-index: -1;
}

.productCard .content .title {
    font-size: 1.4rem;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .productCard {
        margin: 0.4rem;
        width: calc(50% - 1rem);
    }

    .productCard .image,
    .productCard .image::before {
        height: calc(100vw / 3);
    }

    .productCard .content>div {
        margin-bottom: 0.2rem;
    }

    .productCard .content>div:last-child {
        display: initial;
    }

    .productCard .content .seller>.label {
        margin-right: 0.5rem;
        font-size: calc(100vw / 50);
    }

    .productCard .content .seller>.user>.avatar,
    .productCard .content .seller>.user>.avatar::before {
        height: calc(100vw / 20);
        width: calc(100vw / 20);
    }

    .productCard .content .seller>.user>.pseudo {
        font-size: calc(100vw / 35);
    }

    .productCard .content .title {
        font-size: calc(100vw / 30);
    }

    .productCard .content .price {
        font-size: calc(100vw / 35);
    }
}