/* Product Card Container */
.productCardContainer > .products {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: auto;
    max-width: 1110px;
    padding: 1rem;
}

/* Product Card */
.productCard {
    background-color: var(--productCardBackgroundColor);
    border-radius: 3px;
    box-shadow: var(--productCardShadowColor) 4px 4px 4px;
    color: black;
    display: flex;
    margin: 1rem;
    text-decoration: none;
    transition: ease-out 250ms;
    flex-flow: column nowrap;
    overflow: clip;
    width: 20rem;
    z-index: 1;
}

.productCard:hover {
    box-shadow: var(--productCardShadowColor) 8px 8px 10px;
    cursor: pointer;
    transform: scale(1.025);
    transition: ease-out 250ms;
}

.productCard:active {
    box-shadow: var(--productCardShadowColor) 2px 2px 2px;
    transform: scale(0.975);
    transition: ease-out 250ms;
}

.productCard > .image {
    background-size: cover;
    background-position: center;
    height: 15rem;
    width: 100%;
}

.productCard > .image::before {
    background-color: black;
    content: "";
    display: inline-block;
    height: 15rem;
    position: relative;
    width: 100%;
    z-index: -1;
}

.productCard > .content {
    padding: 1rem;
}

.productCard > .content > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.productCard > .content > div > *:last-child {
    flex-shrink: 0;
}

.productCard > .content > div:last-child {
    margin-bottom: 0;
}

.productCard > .content > div:nth-child(2) {
    text-align: right;
}

.productCard > .content .seller {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.productCard > .content .seller > .avatar {
    background-size: cover;
    border-radius: 100%;
    height: 32px;
    width: 32px;
}

.productCard > .content .seller > .avatar::before {
    background-color: black;
    border-radius: 100%;
    content: "";
    display: inline-block;
    height: 32px;
    position: relative;
    transform: scale(0.9);
    width: 32px;
    z-index: -1;
}

.productCard > .content h2 {
    font-size: 1rem;
    font-weight: normal;
}

@media screen and (max-width: 768px) {
    .productCard {
        margin: 0.5rem;
        width: calc(50% - 1rem);
    }

    .productCard > .image,
    .productCard > .image::before {
        height: calc(100vw / 3);
    }
}
