/* Product Card Container */
.productCardContainer {
    display: flex;
    flex-flow: row wrap;
    gap: 4rem;
}

/* Product Card */
.productCard {
    background-color: var(--productCardBackgroundColor);
    border-radius: 3px;
    box-shadow: var(--productCardShadowColor) 4px 4px 4px;
    color: black;
    display: block;
    text-decoration: none;
    display: flex;
    flex-flow: column nowrap;
    overflow: clip;
    width: 15rem;
    z-index: 1;
}

.productCard:hover {
    box-shadow: var(--productCardShadowColor) 6px 6px 6px;
    cursor: pointer;
}

.productCard > .image {
    background-size: cover;
    height: 10rem;
    width: 100%;
}

.productCard > .image::before {
    background-color: black;
    content: "";
    display: inline-block;
    height: 10rem;
    position: relative;
    width: 100%;
    z-index: -1;
}

.productCard > .content {
    padding: 1rem;
}

.productCard > .content > h2 {
    font-size: 1rem;
}
