@import url("productCard.css");
@import url("ratingStars.css");

:root {
    --productCardBackgroundColor: white;
    --productCardShadowColor: rgba(0, 0, 0, 0.25);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
