/* Button */
.btn-primary {
    display: block;
    width: 15%;
    padding: 8px;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: #000000;
}

.btn-primary:hover {
    background-color: white;
    color: var(--blueColor);
    box-shadow: var(--blueColor) 0 8px 10px;
}

/* Link */
.link {
    color: var(--blueColor);
    text-decoration: none;
}

.link:hover {
    color: var(--lessblueColor);
}

/* Text input */
.textInput {
    border: none;
    border-bottom: solid black 1px;
    padding: 0.4rem;
    transition: all linear 100ms;
}

.textInput:focus {
    border-radius: 0.375rem;
    box-shadow: var(--blueColor) 0 3px 4px;
    outline: none;
}

.textInput::placeholder {
    color: var(--lessblueColor);
}

/* Select */
.selectInput {
    background-color: transparent;
    border: none;
    border-bottom: #000000 solid 1px;
    padding: 0.4rem;
    width: 100%;
}

/* User avatar */
.userAvatar {
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

/* Boxed Title */
.boxedTitle {
    margin: 3rem;
}

.boxedTitle h2 {
    text-align: center;
}
