{% extends 'layout.html.twig' %}

{% from "_macros/productCard.html.twig" import productCard %}

{% block content %}
	<main class="cart">
		<h1 class="text-center">Mon Panier</h1>
		<div class="productsCart">
			{% if not (products is empty) %}

					{% for product in products %}
          <div class="products-cart">
						{{ productCard(product) }}
						<a href="/cart/update?id={{ product.id }}">
							<div class='btn' style="background-color: red;">DELETE</div>
						</a>
            </div>
					{% endfor %}

			{% else %}
				<li>Il n'y a rien a afficher ou la connection à votre Base de donnée à échouée</li>
			{% endif %}
		</div>
	</main>
{% endblock %}
