{% extends 'layout.html.twig' %}


{% block content %}
	<main class="container">
		<h1>Modifies ta Catégorie
			{{ categoryItem.title }}</h1>
		{% include 'CategoryItem/_form.html.twig' %}
		<a href="/categories_items">Back</a>
	</main>
{% endblock %}
