{% extends 'layout.html.twig' %}

{% block content %}
	<h1 class="text-center">Toutes les Catégories</h1>
	<ul>
		{% for categoryItem in categoriesItems %}
			{# <div class="card-category" style="background-image: url('{{categoryItem.photo}}');"> #}
			<li>
				{{ categoryItem.id }}.
				{{ categoryItem.title }}
			</li>
			Description:
			{{ categoryItem.description}}
			{# </div> #}
		{% else %}
			<li>Nothing to display</li>
		{% endfor %}
	</ul>
	<a href="/categories_items/add">Ajouter</a>
{% endblock %}
